@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
body{
    margin: 0;
    padding: 0;
    background-image: url("https://i.ibb.co/2qfMJps/list-3.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
img{
    height: 350px;
    width: 350px;
    margin: 20px;
}
h1{
    color: white;
    font-size: 35px;

}
#player{
    background-color: white;
    padding: 10px 10px;
    display: block;
    border: 10px solid black;
    font-family:'Rubik Glitch';
    font-size: 40px;
    text-align: center;
}

::placeholder{
    color: red;
}
