body{
    padding: 0%;
    margin: 0%;
    background: url("https://i.ibb.co/gTyQy8p/gif-de-la-muete.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

.mundo{
    position: absolute;
    left: 350px;
    top: 50px;

}

#logo{
    position: absolute;
    left: 50px;
    top: 40px;
}

.botones_movimiento{
    position: absolute;
    top: 450px;
  
}

.botones_movimiento button{
    background-color: transparent;
    margin-right: 20px;
    border: none;
    color: white;
    width: 70px;
    height: 70px;
}

.botones_movimiento button i{
    position: absolute;
    
    cursor: pointer;
}

.fire{
    position: absolute;
    left: 1100px;
    top: 500px;
    cursor: pointer;
}



















































.container {
    display: grid;
    grid-template-columns: repeat( auto-fit,
        minmax (150px, 1fr )
        );
}

.div image {
    width: 100%;
    height: auto;
}


