body{
    padding: 5vw;
    margin: 0;
    background: url("https://i.ibb.co/cw6HrgY/inicio-2.gif");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 81vh;
}

#colombia{
    width: 30vw;

    fill: #02c252;
    stroke: #023f21;
    stroke-width: 2px;

}
#COL99{
    fill:aqua;
}




/* css de la explosion al dar click*/

#explosion-container {
    display: none;
    position: absolute;
  }